:root {
  --primary: #141415;
  --white: #d6d6d6;
  --button: #1fffa9;
}
p {
  color: #a7a7a7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--primary);
}

a {
  /* color: #47b2e4; */
  text-decoration: none;
}

a:hover {
  /* color: #73c5eb; */
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--primary);
}

#preloader:before {
  content: '';
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  /* background: var(--button); */
  width: 40px;
  height: 40px;
  border: 1px solid var(--button);
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: var(--white);
  line-height: 0;
}
.back-to-top i:hover {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: var(--primary);
  display: grid;
  place-content: center;
}

.back-to-top:hover {
  background: var(--button);
  color: var(--primary);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  /* background: var(--primary); */
}

#header.header-scrolled,
#header.header-inner-pages {
  background: var(--primary);
}
/* 
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
} */

#header .logo-text a {
  font-weight: 900;
  font-size: 25px;
  color: #1fffa9;
  margin-left: 5px;
  letter-spacing: 2px;
}
.m {
  padding: 0px;
}
#header .logo img {
  max-height: 42px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: end;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  /* gap: 5px; */
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
  transition: 0.3s;
}
/* .active {
  color: var(--primary) !important;
} */
/* .navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
} */

.navbar li:hover > a {
  color: var(--button);
  /* background: var(--button);
  border-radius: 8px; */
}

/* .navbar .getstarted,
.navbar .getstarted:focus {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 8px;
  transition: 0.5s;
  margin-left: 20px;
  color: var(--white);
  border: 1px solid var(--button);
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: var(--primary);
  background: var(--button);
} */

@media (max-width: 1366px) {
  #hero {
    padding: 350px 0px;
  }
}

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  color: var(--button);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: rgb(231, 81, 12);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  width: 50%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  /* left: 0;
  bottom: 0; */
  background: var(--primary);
  transition: all 0.5s ease-in-out;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: var(--primary);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--white);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--button);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: var(--button);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  /* height: 700px; */
  height: 100vh;
  background: radial-gradient(#141415b6 15%, #141415 70%),
    url('/assets/icons/herobg.png') center/cover;
}

#hero .container {
  padding: 100px 10px;
}
#hero h1 > span {
  color: var(--button);
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: var(--white);
  margin-bottom: 50px;
  font-size: 18px;
}

#hero .btn-get-started {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 8px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: var(--white);
  border: 1px solid var(--button);
  /* background: #47b2e4; */
}

#hero .btn-get-started:hover {
  background: var(--button);
  color: var(--primary);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
    /* background: #0c3c53; */
    padding: 500px 0px;
  }

  /* #hero .animated {
    animation: none;
  } */

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  #hero {
    padding: 450px 0px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  .m {
    padding: 15px;
    padding-top: 0px;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
  .faq {
    margin-top: 150px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
/* Funfact */
#main .container .funfact-full {
  margin-top: 60px;
}
#main .container .funfact-small {
  display: none;
}
/* Funfact */
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--white);
  text-align: center;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--white);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--button);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  color: var(--white);
  text-align: center;
}
/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
/* .why-us {
  background: url(/assets/icons/apphome.png);
  background-size: 25%;
  background-repeat: no-repeat;

  background-position: 90% 35%;
} */
.why-us {
  position: relative;
}
.why-us .benefit-list h5 {
  display: block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding-right: 30px;
  outline: none;
  /* cursor: pointer; */
  color: var(--white);
}

.appimage {
  width: 1024px;
  margin-left: 250px;
}
.why-us .content {
  padding-top: 80px;
}

.why-us .content h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  font-size: 34px;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  /* display: inline-block; */
}

.why-us .content h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--white);
  bottom: -8px;
  left: calc(50% - 60px);
}

.why-us .content h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--button);
  bottom: -9px;
  left: calc(50% - 20px);
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: var(--white);
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .accordion-list {
  padding: 20px 0;
}
.why-us .benefit-list {
  padding: 20px 0;
}
.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}
.why-us .benefit-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li + li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  padding: 20px;
  background: var(--primary);
  border-radius: 8px;
  border: 1px solid var(--button);
}
.why-us .benefit-list li {
  padding: 20px;
  margin-bottom: 20px;
  background: var(--primary);
  border-radius: 8px;
  /* border: 1px solid var(--button); */
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding-right: 30px;
  outline: none;
  /* cursor: pointer; */
  color: var(--white);
}

.why-us .accordion-list span {
  color: var(--button);
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color: var(--white);
}
.why-us .benefit-list span {
  color: var(--button);
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.why-us .benefit-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .benefit-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color: var(--white);
}

/* Carousel */
.testimonials {
  height: 500px;
}

.testimonials h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  font-size: 34px;
  font-weight: 600;
  position: relative;
  margin: 0 0 50px 0;
  text-transform: uppercase;
  display: inline-block;
}
.testimonials h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--white);
  bottom: -8px;
  left: calc(50% - 60px);
}

.testimonials h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--button);
  bottom: -9px;
  left: calc(50% - 20px);
}
.testimonials .carousel .name h6 {
  margin-top: 10px;
  margin-bottom: 0;
}
.testimonials .carousel {
  margin: 50px auto;
  border-radius: 8px;
}
.testimonials .carousel .carousel-item {
  color: var(--white);
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
  /* border-radius: 8px;
  border: 1px solid var(--button); */
}
.testimonials .carousel .media {
  /* position: relative; */
  /* padding: 0 0 0 20px;
  margin-left: 20px; */
  margin: 30px 0;
}
.testimonials .carousel .media img {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 5px solid #202926;
}
.testimonials .carousel .testimonial {
  color: #fff;
  position: relative;
  background: #202926;
  padding: 20px 15px;
  /* margin: 0 0 20px 20px; */
  border-radius: 8px;
  border-bottom-left-radius: 3px;
  /* border: 1px solid var(--button); */
  width: 100%;
}
.testimonials .carousel .testimonial::before,
.testimonials .carousel .testimonial::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -20px;
  border: none;
  outline: none;
  background: #202926;
}

.testimonials .carousel .testimonial::after {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--primary);
  border-left-color: var(--primary);
}
/* .testimonials .carousel .carousel-item .row > div:first-child .testimonial {
  margin: 0 20px 20px 0;
} */
.testimonials .carousel .carousel-item .row > div:first-child .media {
  margin-left: 0;
}
.testimonials .carousel .testimonial p {
  text-indent: 40px;
  line-height: 21px;
  margin: 0;
}
.testimonials .carousel .testimonial p::before {
  content: '\201D';
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  position: absolute;
  left: -20px;
  top: 5px;
}

.testimonials .carousel .overview .details {
  padding: 5px 0 8px;
}
.testimonials .carousel-control-prev,
.testimonials .carousel-control-next {
  width: 30px;
  height: 30px;
  background: #183142;
  text-shadow: none;
  top: 4px;
  border-radius: 2px;
}
.testimonials .carousel-control-prev i,
.testimonials .carousel-control-next i {
  font-size: 16px;
  color: var(--button);
}
.testimonials .carousel-control-prev {
  left: auto;
  right: 40px;
}
.testimonials .carousel-control-next {
  left: auto;
}

.testimonials .star-rating li {
  padding: 0 2px;
}
.testimonials .star-rating i {
  font-size: 14px;
  color: var(--button);
}
/* Carousel */

/* .why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed {
  color: var(--white);
}

.why-us .accordion-list a.collapsed:hover {
  color: var(--button);
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
} */

@media (max-width: 1024px) {
  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #37517e;
  font-family: 'Poppins', sans-serif;
}

.skills .content ul {
  list-style: none;
  padding: 0;
}

.skills .content ul li {
  padding-bottom: 10px;
}

.skills .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #47b2e4;
}

.skills .content p:last-child {
  margin-bottom: 0;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #37517e;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e8edf5;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #4668a2;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  /* box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1); */
  padding: 40px 30px;
  margin-bottom: 30px;
  transition: all ease-in-out 0.4s;
  background: #222222;
  border-radius: 8px;
  border: 1px solid var(--button);
  color: var(--white);
  width: 100%;
}

.services .icon-box svg {
  margin-bottom: 20px;
}

.services .icon-box h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .icon-box h4 a {
  color: var(--white);
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

/* .services .icon-box:hover h4 a {
  color: #47b2e4;
} */

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta-sec {
  background: #191b1d;
  margin-top: 150px;
  padding: 80px 0;
}
/* .cta {
  

  background-size: cover;
  padding: 120px 0;
  align-items: start;
  overflow: hidden !important;
} */
/* .text-center {
  text-align: left !important;
} */
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
}
.cta span {
  color: var(--button);
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  transition: 0.4s ease-in-out;
}

.cta .cta-btn:hover {
  transform: scale(1.1);
}
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: var(--primary);
  /* border-radius: 4px; */
  position: relative;
  border-top: 1px solid var(--white);
  /* border-bottom: 1px solid var(--white); */
}
.faq .faq-list li:last-child {
  border-bottom: 1px solid var(--white);
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  color: var(--white);
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: var(--white);
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color: #949494;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  /* color: var(--button); */
  transition: 0.3s;
}

/* .faq .faq-list a.collapsed:hover {
  color: var(--button);
} */

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  height: 700px;
  margin-top: 150px;
  margin-bottom: 350px;
  background: #202926;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  background: #202926;
  box-shadow: 0px 5px 1.5px 0px var(--button);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
  color: var(--white);
  font-size: 18px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  color: var(--white);
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  background: #49544f;
  /* outline: none !important; */
  border: none !important;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #46f800;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type='submit'] {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  border: 1px solid var(--button);
  padding: 12px 34px;
  transition: 0.4s;
  border-radius: 8px;
  background: transparent;
}

.contact .php-email-form button[type='submit']:hover {
  background: var(--button);
  color: var(--primary);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: var(--primary);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: black;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--button);
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--button);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: var(--white);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: var(--button);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: var(--white);
  border: 1px solid var(--button);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  color: var(--primary);
  background: var(--button);
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}
#footer .copyright span {
  color: var(--button);
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
  color: #9fb100;
  font-weight: bold;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}
@media (max-width: 576px) {
  #hero {
    padding-bottom: 100px;
    padding: 0;
  }
  #main .container .funfact-full {
    display: none;
  }
  #main .container .funfact-small {
    display: block;
    margin-top: 80px;
  }
  .section-title h2 {
    font-size: 24px !important;
    text-align: center;
    /* padding: 0 50px; */
    /* background: #0c3c53; */
  }
  .section-title p {
    font-size: 14px !important;
    padding: 0 15px;
    /* background: #0c3c53; */
  }
  .why-us .content h3 {
    font-size: 24px;
    text-align: center;
    padding: 0px 25px;
    margin-bottom: 35px;
  }
  .why-us .content p {
    text-align: justify;
    padding: 0px 25px;
  }
  .why-us .benefit-list ul li h5 {
    /* font-size: 12px; */
    display: flex;
  }
  .testimonials h2 {
    font-size: 24px;
    text-align: center !important;
    padding: 0 20px;
  }
  .testimonials a {
    display: none !important;
  }
  .testimonials .carousel .testimonial {
    margin: 0;
  }
}

@media (max-width: 991px) {
  /* .faq .faq-list {
    padding: 0;
  } */
  .ziimage {
    display: none;
  }
}
@media (min-width: 992px) {
  /* .faq .faq-list {
    padding: 0;
  } */
  .ziimage {
    /* height: 150%; */
    position: absolute;
    top: 50px;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
